.output {
    background-color: #c7b198;
    padding-top: 1em;
}

.left-side,
.right-side {
    margin-bottom: 1em;

}

.output__content {
    margin: 1em auto;
    background-color: white;
    box-shadow: 8px 8px 10px rgb(132, 131, 131);
    padding: 1em;
}

.output__content header {
    margin-bottom: 1em;
}

.output__content h1,
.output__content h3,
.output__content h4 {
    color: rgb(28, 105, 131);
}

.output__content h3 {
    font-weight: 300;
}

.output__content h4 {
    border-bottom: 1px solid rgb(28, 105, 131);
}

.cv-personal div {
    margin: 1em 0;
}

.cv-personal input {
    width: 100%;

    outline: none;
    border: none;
    font-size: 1em;
    padding: 0;
}

.cv-personal label {
    font-weight: 300;
    letter-spacing: 2px;
}

.cv-experience ul,
.cv-education ul {
    list-style: none;
    padding: 0;
}



.exp-content div {
    margin-top: 0.5em;
}


.exp-title {
    font-weight: 500;
}

.exp-company {
    font-style: italic;
}

.edu-list li {
    margin-top: 1.125em;
}

.education-content div {
    margin-top: 0.2em;
}

.cv-degree {
    font-weight: 500;
}

.cv-school-location {
    font-style: italic;
}

.cv-email {
    max-width: 100%;
    overflow-x: auto;
    /* Enable horizontal scrolling when content overflows */
    white-space: nowrap;
}


.pdf {
    text-align: right;
    padding-bottom: 1em;
}

.btn--save {
    width: auto;
    background-color: #596e79;
    color: #f0ece2;
}

.btn:active,
.btn:hover {
    opacity: 0.8;
    transform: scale(0.95);
}