*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
  background-color: #dfd3c3;
  font-family: Roboto, sans-serif;
}

#root {
  width: 100%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}